---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;


div.tws-hero {
  /* Positioning */
  /* Box-model */
  margin: 0 auto;
  height: 1080px;
  /* Typography */
  text-align: center;
  /* Visual */
  background-image: url('../img/bg3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  /* Misc */
  @media screen and (max-width: 540px) {
    height: 600px;
  }
}

div.tws-card {
  /* Positioning */
  /* Box-model */
  width: 95%;
  max-width: 600px;
  padding: 40px;
  margin: 0 auto;
  /* Typography */
  /* Visual */
  background-color: #162a1a;
  background-image: url('../img/card-texture.png');
  background-size: cover;
  background-position: center;
  /* Misc */
  a {
    color: #c7cc5c;
  }
  h5 {
    /* Positioning */
    /* Box-model */
    margin-top: 50px;
    margin-bottom: 0;
    /* Typography */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 800;
    /* Visual */
    color: #c7cc5c;
    /* Misc */
    @media screen and (max-width: 540px) {
      margin-top: 25px;
    }
  }
}

img#logo {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  /* Misc */
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
